<html>
<head>
	<style type="text/css">
	</style>
	</head>
	<body>
		<h1>Thank you!</h1>
		<p>
			Welcome to Codeberg e.V. and thank you for your support!
		</p>
		<p>
			An email confirming your registration details has been sent. If you don't receive the email or your data look
			wrong, please contact <a href="mailto:codeberg@codeberg.org">codeberg@codeberg.org</a>.
		</p>
		<a href="https://codeberg.org">Back to codeberg.org</a>
	</body>
</html>
